footer 
  .container.footer 
    .row
      .col-12.col-xl-4
        .contact-infos.d-flex.flex-column
          .list__title liên hệ chúng tôi
          .contact-info
            +icon-text("fas fa-map-marker-alt","Tầng 4 toà nhà A, Hà Tây, Hà Nội", "green", "gray")
          .contact-info
            +icon-text("fas fa-phone","0123 456 789", "green", "gray")
            +icon-text("fas fa-blender-phone","0123 456 789", "green", "gray")
          .contact-info
            +icon-text("fas fa-phone","0345 345 234", "green", "gray")
            +icon-text("fas fa-mail-bulk","lala@gmail.com", "green", "gray")
      .col-12.col-xl-2
        +list("Chuyển hàng",["Mua sắm trực tuyến","Mua sắm trực tuyến","Mua sắm trực tuyến"])
      .col-12.col-xl-2
        +list("Chuyển hàng",["Mua sắm trực tuyến","Mua sắm trực tuyến","Mua sắm trực tuyến"])
      .col-12.col-xl-2 
        +list("Chuyển hàng",["Mua sắm trực tuyến","Mua sắm trực tuyến","Mua sắm trực tuyến"])
      .col-12.col-xl-2 
        +list("Chuyển hàng",["Mua sắm trực tuyến","Mua sắm trực tuyến","Mua sắm trực tuyến"])
      .col-12.mb-3.mt-4.col-md-6
        span.color-gray Copyright 2008-2014 DKT Technology JS
      .col-12.mb-2.col-md-6
        img.float-right.mt-3(src="./assets/img/visa.png", alt="visa")
