include ./../variables/headerVariable.pug

header
  nav
    .container
      .row
        .col-3.col-xl-2.order-1
          .d-flex.align-items-center
            .nav__logo
              img.w-100(src="./assets/img/logo-header.png", alt="logo")
        .col-5.col-sm-6.order-2.order-xl-4
        .col-xl-8.order-4.order-xl-2.d-none.d-xl-flex.justify-content-center
          .nav__menu-level1.d-flex.justify-content-center.align-items-center.h-100
            each menuItem in menuItems
              +menu-item(menuItem)
        .col-4.col-sm-3.col-xl-2.order-3
          .nav__icons.h-100.d-flex
            .nav__item
              img.nav__item-icon(src="./assets/img/cart-icon.png", alt="cart-icon")
              .preview-product__box 
                +preview-products(products)
                .preview-products__total-price
                  span Tổng số
                  span.float-right 240.000d
                button(type="button" class="btn btn-dark m-2") Giỏ hàng
            .nav__item
              img.nav__item-icon(src="./assets/img/search-icon.png" alt="cart-icon")
            .nav__menu.nav__item
              label.nav__item-icon(for="check") 
                img(src="./assets/img/menu-icon.png" alt="menu-icon")
              input.d-none( type="checkbox", id="check")
              .mobile-menu
                each item in menuItems
                  .mobile-menu__item=item.name
