.form
  .form__title Thông tin cá nhân
  .mt-4.mb-4 Nếu đã có tài khoản, vui lòng đăng nhập.
  form.w-100.w-lg-50
    +name-input("Địa chỉ email *", "email")
    +name-input("Mật khẩu *", "password")
  .mt-4.mb-4
    a(href="#") Quên mật khẩu?
    button.form__button.ml-3.mt-3 đăng nhập