section
  .popUp
    i(class="fas fa-times")
    .popUp__box
      h1 Gửi email
      p Hãy gửi email của bạn liên hệ với chúng tôi để được tư vấn
      p Sự hài lòng của bạn là thành công của chúng tôi
      form
        input(type="text" placeholder="Email của bạn ....." name="email")  
        button Gửi email
