extend layouts/layout.pug

block Modal
  title AboutUs
  
block Main
  .aboutUsPage
    .container.mb-5
      .mt-3.pb-3.border-bottom-green
        +page-url(["Trang chủ", "Về chúng tôi"])
      h1.mt-3.mb-4 Về chúng tôi
      .row
        .col-12.order-2.col-lg-6.order-1
          img.w-100.mb-3(src="./assets/img/aboutUs.png" alt="img")
        .col-12.order-1.col-lg-6.order-2
          img.aboutUsPage__img(src="./assets/img/logo-header.png" alt="img")
          h3.mt-3.mb-4 Chi tiết tài khoản
          p.mb-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sed ad commodi, dolorem consectetur veniam aut! Maiores voluptatibus unde, natus, quam, deleniti similique maxime officia suscipit commodi repellendus earum doloribus.lorem p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sed ad commodi, dolorem consectetur veniam aut! Maiores voluptatibus unde, natus, quam, deleniti similique maxime officia suscipit commodi repellendus earum doloribus.lorem 
          a(href="#").ml-2 Xem thêm