.popUp
  background-color: $blackOpacity
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 1000
  @include flex-center
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  
  i
    color: $gray
    font-size: 3.0rem
    margin-bottom: 1.0rem
    &:hover
      color: $white
      cursor: pointer
    @media ($md)
      margin-top: 3.0rem
      position: absolute
      top: 0 

  &__box
    background-color: $white
    background-image: url(./../assets/img/popUp-bg.png)
    background-size: cover
    background-position: center center
    border-radius: 50%
    height: 50.0rem
    width: 50.0rem
    @include flex-center
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    @media ($md)
      border-radius: 0
      height: 100%
      width: 100%

    h1
      color: $black
      font-weight: 600
      margin-bottom: 1.5rem

    form 
      @include flex-center
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column

    p
      color: $darkerGray
      font-family: $fontCastoro
      line-height: 1.4

    input
      border: .1rem solid $darkerGray
      border-radius: 1.5rem
      margin-top: 1.0rem
      padding: .2rem 2.0rem
      width: 30.0rem
      &::-webkit-input-placeholder,
      &:-ms-input-placeholder, 
      &::placeholder 
        font-family: $fontCastoro
        color: $darkerGray

    button
      background-color: $white
      border: none
      margin-top: 1.5rem
      width: 10.0rem
