-
  var trs = [
    ["Order","Date","Tình trang thanh toán","Tổng","Nợ"],
    ["#1006","May 13, 2013","Đã thanh toán","250.000d","0"],
    ["#1006","May 13, 2013","Đã thanh toán","250.000d","0"],
    ["#1006","May 13, 2013","Đã thanh toán","250.000d","0"]
  ]