-
  var gridMenu = [
    {
      name: "Mỹ phẩm",
      isMenu2: false
    },
    {
      name: "Phụ kiên",
      isMenu2: true,
      menu2: [
        "Vòng tay",
        "Lắc chân",
        "Phụ kiện khác"
      ]
    },
    {
      name: "trang sức",
      isMenu2: true,
      menu2: [
        "Trang sức vàng",
        "Trang sức đồng",
        "Kim cương"
      ]
    },
    {
      name: "Phụ kiện khác",
      isMenu2: false
    }
  ]
-
  var gridProducts = [
    {
      img: "./assets/img/product-img.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product-img.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product-img.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product-img.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/product-img.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/product-img.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    }
  ]