-
  var menuItems = [
    {
      name: "trang chủ"
    },
    {
      name: "giới thiệu"
    },
    {
      name: "sản phẩm",
      menu2: true,
      menu2Items: [
        {
          title: "Dưỡng da", 
          items: ["Sữa rửa mặt", "Mặt nạ", "Sữa tắm","Dầu gội đầu","Dầu dưỡng tóc"]
        },
        {
          title: "Dưỡng da", 
          items: ["Sữa rửa mặt", "Mặt nạ", "Sữa tắm","Dầu gội đầu","Dầu dưỡng tóc"]
        },
        {
          title: "Dưỡng da", 
          items: ["Xà bông", "Mặt nạ", "Sữa tắm","Sữa rửa mặt","Dầu dưỡng tóc"]
        }
      ]
    },
    {
      name: "tin tức"
    },
    {
      name: "bản đồ"
    },
    {
      name: "liên hệ"
    }
  ]
-  
  var products = [
    {
      img: "./assets/img/img-product.png", 
      name: "Áo dài tay",
      price: "120.000d"
    },
    {
      img: "./assets/img/img-product.png", 
      name: "Áo dài tay",
      price: "120.000d"
    },
    {
      img: "./assets/img/img-product.png", 
      name: "Áo dài tay",
      price: "120.000d"
    }
  ]