-
  var homePagePecs = [
    {
      icon: "fas fa-plane-departure",
      content: "Miễn phí vận chuyển"
    },
    {
      icon: "fas fa-gift",
      content: "Nhận ngay quà trị giá 300.000d"
    },
    {
      icon: "fas fa-star",
      content: "Giảm 30% cho đơn hàng trên 5 triệu"
    }
  ]
- var homePageImgs = ["./assets/img/hom1.png","./assets/img/home2.png","./assets/img/home3.png","./assets/img/home4.png"]
- var homePageCategory = ["Mỹ phẩm", "Chăm sóc da", "Chăm sóc tóc", "Nước hoa", "Trang sức", "Quà tặng"]
- 
  var homePageSocial = [
    {
      icon: "fab fa-facebook",
      name: "Facebook"
    },
    {
      icon: "fab fa-twitter",
      name: "Twitter"
    },
    {
      icon: "fab fa-instagram",
      name: "Instagram"
    },
    {
      icon: "fab fa-google",
      name: "Google"
    },
    {
      icon: "fab fa-pinterest",
      name: "Pinterest"
    }
  ]
-
  var homePageProducts = [
    {
      img: "./assets/img/product-1.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product-1.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product-1.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product-1.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/product-1.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/product-1.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    }
  ]
-
  var homePageProducts2 = [
    {
      img: "./assets/img/prodcuct2.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/prodcuct2.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/prodcuct2.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/prodcuct2.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/prodcuct2.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/prodcuct2.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    }
  ]
-
  var homePageProducts3 = [
    {
      img: "./assets/img/product3.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product3.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product3.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },
    {
      img: "./assets/img/product3.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/product3.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    },{
      img: "./assets/img/product3.jpeg",
      category: "Home",
      name: "Vòng đeo tay nam",
      newPrice: "240.000d",
      oldPrice: "250.000d",
      vote: 5,
      info: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos magnam a illo tenetur culpa accusamus natus eligendi, cupiditate, ex optio facere voluptatum, dignissimos corporis asperiores cumque animi numquam perferendis autem. ",
      like: 4
    }
  ]
- 
  var homePageBlog = {
    img: "./assets/img/blog-tag-img.png",
    title: "Sản phẩm đạt danh hiệu Hàng VN chất lượng cao",
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptatibus iure quo, natus consequuntur commodi id voluptas dicta atque, voluptates ipsam dolore. Porro, tempora illum! Saepe libero aliquam quo dolore.",
    note: "Bởi Name Trần",
    comments: 24
  }
-
  var homePageSlogan = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis quaerat consequuntur ipsam doloremque nesciunt quia. Rerum vero veniam, recusandae esse maxime dolore quis possimus, sint velit porro distinctio saepe."