- 
  var ths = [
    "ảnh",
    "tên sản phẩm",
    "giá",
    "số lượng",
    "tổng số",
    "xoá"
  ]
- 
  var products = [
    {
      img: "./assets/img/aboutUs.png", 
      name: "Test 1",
      price: "120.000d",
      quantity: "2",
      totalPrice: "240.000d"
    },
    {
      img: "./assets/img/aboutUs.png", 
      name: "Test 1",
      price: "120.000d",
      quantity: "2",
      totalPrice: "240.000d"
    },
    {
      img: "./assets/img/aboutUs.png", 
      name: "Test 1",
      price: "120.000d",
      quantity: "2",
      totalPrice: "240.000d"
    },
    {
      img: "./assets/img/aboutUs.png", 
      name: "Test 1",
      price: "120.000d",
      quantity: "2",
      totalPrice: "240.000d"
    }
  ]