.gridPage
  h3 
    font-size: 16px
    color: $black
    font-weight: 600
    text-transform: uppercase
    padding: 5px 0
    border-bottom: 1px solid $gray
  p
    color: $darkerGray
  .banner
    @media ($md)
      display: none