@mixin text-to-green 
  color: $green
  cursor: pointer
  -webkit-transition: all .3s
  -o-transition: all .3s
  transition: all .3s

@mixin border($thickness:0, $color: black, $radius:0)
  border: $thickness solid $color
  border-radius: $radius

@mixin flex-center
  align-items: center
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center

@mixin abs-center
  position: absolute
  left: 50%
  -webkit-transform: translate(-50%,-50%)
  -ms-transform: translate(-50%,-50%)
  top: 50%
  transform: translate(-50%,-50%)